*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* .container{
  max-width: ;
} */
h1{
  color: rgb(128, 85, 32);
}
h2{
  color: rgb(172, 153, 129);
}
h3{
  color: rgb(92, 82, 69);
}
h4{
  color: rgb(128, 126, 124);
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.card-d{ 
  background-color: black;
}
.card-d img:hover{ 
  top: -130px;
  left: 0;
  /* transform: rotate(45deg); */
  transform: scale(1.1);
  filter: grayscale(1);
  overflow: hidden;
  transition: all 0.2s ;
}
.img-fuild{
  width: 100%;
}
